<div class="tab-content tab-content--search-box">
    <div role="tabpanel" class="tab-pane active" id="dashboard">

        <div class="form-group form-column">
            <label for="search">Search</label>

            <div class="input-group">
                <input type="search" class="form-element form-element-xl" id="search" name="search" aria-label="Search">
                <button class="btn btn-dark">Search</button>
            </div>
            <!-- /.input-group -->
        </div>

        <div class="help-text text-center">
            <p>
                Search parametars:
            </p>

            <ul class="list-unstyled">
                <li>Tax number</li>
                <li>Tax payer Name</li>
                <li>Tax payer Middle Name</li>
                <li>Tax payer Middle Name</li>
                <li>Name</li>
                <li>Short name</li>
            </ul>
            <br>
            <small>Enter a single value. </small>
            <small>Multiple values, separate each with commas.</small>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="users">
        <div class="grid">
            <div class="col-md-12 sort-row">
                <div class="radio--form">
                    <input type="radio" name="radio-example" value="select-type-1" />
                    <label>
                        <span></span>
                        <!-- This span is needed to create the "checkbox" element -->
                        Physical Entity
                    </label>
                </div>
                <!-- <div class="form-radio">
                      <input type="radio" name="radio-example" value="select-type-1" />
                      <label>Pravna osoba</label>
                    </div> -->
                <div class="radio--form">
                    <input type="radio" name="radio-example" value="select-type-2" />
                    <label>
                        <span></span>
                        <!-- This span is needed to create the "checkbox" element -->
                        Legal Entity
                    </label>
                </div>
                <!-- /.form-check -->
                <!-- <div class="form-radio">
                      <input type="radio" name="radio-example" value="select-type-2" />
                      <label>Fizička osoba</label>
                    </div> -->
            </div>
        </div>
        <!-- /.gird -->
        <div class="grid">
            <div class="col-md-3 form-group form-column">

                <label for="tip">Tip</label>
                <input placeholder="Tip" autocomplete="off" type="text" class="form-element" name="tip" size="10" />

                <label for="podtip">Podtip</label>
                <input placeholder="Podtip" autocomplete="off" type="text" class="form-element" name="podtip"
                    size="10" />

                <label for="porezni_broj">Porezni broj</label>
                <input placeholder="Porezni broj" autocomplete="off" type="number" class="form-element"
                    name="porezni_broj" size="10" />

                <label for="name">Ime</label>
                <input placeholder="Ime" autocomplete="off" type="text" class="form-element" name="name" size="10" />

                <label for="prezime">Prezime</label>
                <input placeholder="Prezime" autocomplete="off" type="text" class="form-element" name="prezime"
                    size="10" />

                <label for="srednje_ime">Srednje ime</label>
                <input placeholder="Srednje ime" autocomplete="off" type="text" class="form-element" name="srednje_ime"
                    size="10" />

            </div>
            <!-- form-group end -->
            <div class="col-md-3 form-group form-column">

                <label for="tip">Naziv</label>
                <input placeholder="Tip" autocomplete="off" type="text" class="form-element" name="tip" size="10" />

                <label for="podtip">Kratki naziv</label>
                <input placeholder="Podtip" autocomplete="off" type="text" class="form-element" name="podtip"
                    size="10" />

                <label for="kratki_broj">Datum rođenja</label>
                <input placeholder="Kratki naziv" autocomplete="off" type="date" class="form-element" name="kratki_broj"
                    size="10" />

                <label for="name">Datum osnutka</label>
                <input autocomplete="off" type="date" class="form-element" name="datum_osnutka" size="10" />

                <label for="regu_kat">Registriran u katalogu</label>
                <input placeholder="Registriran u katalogu" autocomplete="off" type="text" class="form-element"
                    name="regu_kat" size="10" />

                <label for="ID_num">Identifikacijski broj</label>
                <input placeholder="Identifikacijski broj" autocomplete="off" type="text" class="form-element"
                    name="ID_num" size="10" />

            </div>
            <!-- form-group end -->
            <div class="col-md-3 form-group form-column">

                <label for="grad">Grad</label>
                <input placeholder="Grad" autocomplete="off" type="text" class="form-element" name="grad" size="10" />

                <label for="ulica">Ulica</label>
                <input placeholder="Ulica" autocomplete="off" type="text" class="form-element" name="ulica" size="10" />

                <label for="porezni_broj">Kućni broj</label>
                <input placeholder="Porezni broj" autocomplete="off" type="number" class="form-element"
                    name="porezni_broj" size="10" />

                <label for="drzava">Država</label>
                <input placeholder="Država" autocomplete="off" type="text" class="form-element" name="drzava"
                    size="10" />

            </div>
            <!-- form-group end -->
            <div class="col-md-3 form-group form-column">

                <label for="status">Status</label>
                <input placeholder="Status" autocomplete="off" type="text" class="form-element" name="status"
                    size="10" />

                <label for="djelatnost">Djelatnost</label>
                <input placeholder="Djelatnost" autocomplete="off" type="text" class="form-element" name="djelatnost"
                    size="10" />

                <label for="date">Datum</label>
                <input autocomplete="off" type="date" class="form-element" name="date" size="10" />

            </div>
            <!-- form-group end -->
            <div class="col-md-12">
                <button class="btn btn-dark">Search</button>
            </div>
        </div>
        <!-- /.grid -->
    </div>
    <!-- /.tab-pane -->
</div>
<!-- /.tab-content -->