# npm adduser configuration
//neocvm58.neos.hr:8081/repository/npm-neos/:_authToken=NpmToken.e32b03c9-4b8d-36b0-961f-51fc1e0489e0

# npm install configuration
registry=http://neocvm58.neos.hr:8081/repository/npm-group/

