<div class="panel panel-login">

    <div class="panel-header">
        <img src="assets/images/neos-new-logo_primary-light.svg" class="login-logo" alt="NEOS" width="120">

        <div class="login-welcome-back">
            <h5>Welcome back!</h5>
            <small>Login with credentials you have <br>received in your email.</small>
        </div>
    </div>

    <div class="panel-body">

        <h3 class="login-title">Login</h3>
        <form action="index.html">
            <div class="form-group">
                <div class="input-icon">
                    <span>
                        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px"
                            viewBox="0 0 24 24" aria-labelledby="personIconTitle" stroke="#5c707b" stroke-width="1.5"
                            stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#5c707b">
                            <title id="personIconTitle">Person</title>
                            <path
                                d="M4,20 C4,17 8,17 10,15 C11,14 8,14 8,9 C8,5.667 9.333,4 12,4 C14.667,4 16,5.667 16,9 C16,14 13,14 14,15 C16,17 20,17 20,20" />
                        </svg>
                    </span>
                </div>
                <div class="input-group">
                    <input class="input-form form-element" type="text" name="username">
                    <span class="focus-input" data-placeholder="Username"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon">
                    <span>
                        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px"
                            viewBox="0 0 24 24" aria-labelledby="lockAltOpenIconTitle" stroke="#5c707b"
                            stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none"
                            color="#5c707b">
                            <title id="lockAltOpenIconTitle">Lock</title>
                            <path
                                d="M7,7.625 L7,7 C7,4.23857625 9.23857625,2 12,2 L12,2 C14.7614237,2 17,4.23857625 17,7 L17,11" />
                            <rect width="14" height="10" x="5" y="11" />
                            <circle cx="12" cy="16" r="1" />
                        </svg>
                    </span>
                </div>
                <div class="input-group">
                    <input class="input-form form-element" type="password" name="password" id="loginpassword">
                    <span class="focus-input" data-placeholder="Password"></span>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-extension" type="submit">
                Login
                <span class="btn-extension"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
            </button>
        </form>

        <!-- <form action="index.html">
            <div class="form-group form-column">
                <label for="loginusername">Username:</label>
                <input type="text" id="loginusername" class="form-element">
                <small class="validation-feedback validation-feedback-invalid">This field can't be blank</small>
            </div>
            <div class="form-group form-column">
                <label for="loginpassword">Password:</label>
                <input type="password" id="loginpassword" class="form-element">
                <small class="validation-feedback validation-feedback-invalid">This field can't be blank</small>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
        </form> -->

    </div>
    <!-- /.panel-body -->

</div>
<!-- /.panel -->