<div class="modal modal-xxl" id="modal">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add new source of income</h4>
                <a href="#" class="modal-close">&times;</a>
            </div>
            <!-- /.modal-header -->

            <div class="modal-body">
                <div class="grid">
                    <div class="col-md-4 form-group form-column">

                        <label for="tip">Naziv</label>
                        <input placeholder="Naziv" autocomplete="off" type="text" class="form-element" name="tip"
                            size="10" />

                        <label for="podtip">Ime</label>
                        <input placeholder="Ime" autocomplete="off" type="text" class="form-element" name="podtip"
                            size="10" />

                        <label for="porezni_broj">Prezime</label>
                        <input placeholder="Prezime" autocomplete="off" type="number" class="form-element"
                            name="porezni_broj" size="10" />

                    </div>
                    <!-- form-group end -->
                    <div class="col-md-4 form-group form-column">

                        <label for="tip">Tip</label>
                        <input placeholder="Tip" autocomplete="off" type="text" class="form-element" name="tip"
                            size="10" />

                        <label for="podtip">Podtip</label>
                        <input placeholder="Podtip" autocomplete="off" type="text" class="form-element" name="podtip"
                            size="10" />

                        <label for="kratki_broj">Porezni broj</label>
                        <input placeholder="Porezni broj" autocomplete="off" type="date" class="form-element"
                            name="kratki_broj" size="10" />

                    </div>
                    <!-- form-group end -->
                    <div class="col-md-4 form-group form-column">

                        <label for="grad">Adresa</label>
                        <input placeholder="Adresa" autocomplete="off" type="text" class="form-element" name="grad"
                            size="10" />

                        <label for="ulica">Datum osnutka</label>
                        <input placeholder="Datum osnutka" autocomplete="off" type="date" class="form-element"
                            name="ulica" size="10" />

                    </div>
                    <!-- form-group end -->

                    <div class="col-md-12">
                        <button class="btn btn-dark">Search</button>
                    </div>
                </div>
                <!-- /.grid -->
            </div>
            <!-- /.modal-body -->

            <div class="modal-footer">
                <ul class="list-inline">
                    <!-- <li>
                        <button class="btn btn-basic btn-sm">Cancel</button>
                    </li> -->
                    <li>
                        <button class="btn btn-primary btn-sm modal-close">Close</button>
                    </li>
                </ul>
            </div>
            <!-- /.modal-footer -->

        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->