<div class="navbar-tabs navbar-tabs--sticky">
    <ul class="nav-tabs" role="tablist" id="navTabs">
        <li class="@@classActiveBasic">
            <a href="profile.html" title="Framework">
                <span class="menu-item--title ">Basic info</span>
            </a>
        </li>
        <li class="@@classActiveIncome">
            <a href="rtp-income.html" title="Components">
                <span class="menu-item--title ">Geolocation</span>
            </a>
        </li>
        <li class="">
            <a href="#" title="Components">
                <span class="menu-item--title ">Businsee activities</span>
            </a>
        </li>
        <li class="@@classActiveWH">
            <a href="business-units-wh.html" title="Components">
                <span class="menu-item--title ">Working hour</span>
            </a>
        </li>
        <li class="@@classActiveCR">
            <a href="business-units-cr.html" title="Components">
                <span class="menu-item--title ">Cash registers</span>
            </a>
        </li>
        <li class="@@classActiveBActivities">
            <a href="business-activities.html" title="Components">
                <span class="menu-item--title ">Operaters</span>
            </a>
        </li>
        <li class="">
            <a href="#" title="Components">
                <span class="menu-item--title ">Businsess units photos</span>
            </a>
        </li>
        <!-- <li class="@@classActiveID">
            <a href="rtp-id.html" title="Components">
                <span class="menu-item--title ">Identification numbers</span>
            </a>
        </li> -->

    </ul>
    <!-- /.nav-tabs -->
</div>
<!-- /.navbar-tabs -->