<nav class="navbar-tabs nav-main">

  <ul class="list-unstyled nav-main--current-app">
    <li>
      <a href="rtp.html" title="Dashboard" class="nav-main--dashboard">
        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
          aria-labelledby="appsIconTitle" stroke="#2329D6" stroke-width="1" stroke-linecap="square"
          stroke-linejoin="miter" fill="none" color="#2329D6">
          <title id="appsIconTitle">Apps drawer</title>
          <circle cx="6" cy="6" r="1" />
          <circle cx="12" cy="6" r="1" />
          <circle cx="18" cy="6" r="1" />
          <circle cx="6" cy="12" r="1" />
          <circle cx="12" cy="12" r="1" />
          <circle cx="18" cy="12" r="1" />
          <circle cx="6" cy="18" r="1" />
          <circle cx="12" cy="18" r="1" />
          <circle cx="18" cy="18" r="1" />
        </svg>
      </a>
    </li>
    <li class="dropdown">
      <a href="#" class="nav-main--title dropdown-toggle">Registered Tax Payer</a>
      <ul class="dropdown-tabs nav-tabs">
        <!-- <li class="menu-item active">
				<a href="rtp.html" title="Search">
					<span class="menu-item--title ">Search Tax Payer</span>
				</a>
			</li> -->
        <li class="@@classActiveProfile">
          <a href="profile.html" title="Framework">
            <span class="menu-item--title ">Tax payer profile</span>
          </a>
        </li>
        <li class="@@classActiveIncome">
          <a href="rtp-income.html" title="Components">
            <span class="menu-item--title ">Business units</span>
          </a>
        </li>
        <li class="@@classActiveStatus">
          <a href="rtp-status.html" title="Components">
            <span class="menu-item--title ">Status</span>
          </a>
        </li>
        <li class="@@classActiveAddress">
          <a href="rtp-address.html" title="Components">
            <span class="menu-item--title ">Addresess</span>
          </a>
        </li>
        <li class="@@classActiveBussines">
          <a href="rtp-income.html" title="Components">
            <span class="menu-item--title ">Business units</span>
          </a>
        </li>
        <li class="@@classActiveBActivities">
          <a href="business-activities.html" title="Components">
            <span class="menu-item--title ">Business activities</span>
          </a>
        </li>
        <li class="">
          <a href="#" title="Components">
            <span class="menu-item--title ">Operaters</span>
          </a>
        </li>
        <li class="@@classActiveID">
          <a href="rtp-id.html" title="Components">
            <span class="menu-item--title ">Identification numbers</span>
          </a>
        </li>
        <li class="@@classActiveCatalog">
          <a href="rtp-catalog.html" title="Components">
            <span class="menu-item--title ">Special Catalogs</span>
          </a>
        </li>
        <!-- 
      </ul>
      <ul class="dropdown-tabs nav-tabs">
        <li class="@@classActiveSearch">
          <a href="rtp.html">
            Search
          </a>
        </li>
        <li class="@@classActiveTax">
          <a href="profile.html">
            Tax payer
          </a>
        </li> -->
        <!-- <li class="@@">
          <a href="profile.html">
            Special Catalogs
          </a>
        </li> -->
        <!-- </ul> -->
        <!-- /.nav-tabs -->
    </li>
  </ul>
</nav>
<!-- /.navbar-tabs -->