<nav class="navbar-tabs nav-main">
  <ul class="list-unstyled nav-main--current-app">
    <li>
      <a href="/" title="Dashboard" class="nav-main--dashboard">
        <svg
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-labelledby="appsIconTitle"
          stroke="#2329D6"
          stroke-width="1"
          stroke-linecap="square"
          stroke-linejoin="miter"
          fill="none"
          color="#2329D6"
        >
          <title id="appsIconTitle">Apps drawer</title>
          <circle cx="6" cy="6" r="1" />
          <circle cx="12" cy="6" r="1" />
          <circle cx="18" cy="6" r="1" />
          <circle cx="6" cy="12" r="1" />
          <circle cx="12" cy="12" r="1" />
          <circle cx="18" cy="12" r="1" />
          <circle cx="6" cy="18" r="1" />
          <circle cx="12" cy="18" r="1" />
          <circle cx="18" cy="18" r="1" />
        </svg>
      </a>
    </li>
    <li class="dropdown">
      <a href="#" class="nav-main--title dropdown-toggle"
        >Registered Tax Payer</a
      >
      <ul class="dropdown-tabs nav-tabs">
        <li class="@@classActiveSearch">
          <a href="rtp.html">
            Search
          </a>
        </li>
        <li class="@@classActiveTax">
          <a href="profile.html">
            Tax payer
          </a>
        </li>
      </ul>
      <!-- /.nav-tabs -->
    </li>
  </ul>
</nav>
<!-- /.navbar-tabs -->
