<nav class="navbar-tabs nav-main">
    <ul class="list-unstyled nav-main--current-app">
        <li>
            <a href="/" title="Dashboard" class="nav-main--dashboard">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                    aria-labelledby="dashboardIconTitle" stroke="#2329D6" stroke-width="1" stroke-linecap="square"
                    stroke-linejoin="miter" fill="none" color="#2329D6">
                    <title id="dashboardIconTitle">Dashboard</title>
                    <rect width="20" height="20" x="2" y="2" />
                    <path d="M11 7L17 7M11 12L17 12M11 17L17 17" />
                    <line x1="7" y1="7" x2="7" y2="7" />
                    <line x1="7" y1="12" x2="7" y2="12" />
                    <line x1="7" y1="17" x2="7" y2="17" />
                </svg>
            </a>
        </li>
        <li>
            <h5 class="nav-main--title">Registered Tax Payer</h5>
        </li>
    </ul>

    <ul class="nav-tabs">
        <li class="@@classActiveSearch">
            <a href="rtp.html">
                Search
            </a>
        </li>
        <li class="@@classActiveTax">
            <a href="profile.html">
                Tax payer
            </a>
        </li>
        <!-- <li class="">
            <a href="#rtp-search">
                Source of income
            </a>
        </li>
        <li class="">
            <a href="#rtp-catalog">
                Status
            </a>
        </li>
        <li class="">
            <a href="#rtp-catalog">
                Addresses
            </a>
        </li>
        <li class="">
            <a href="#rtp-catalog">
                Bussines units
            </a>
        </li>
        <li class="">
            <a href="#rtp-catalog">
                Bussines activities
            </a>
        </li>
        <li class="">
            <a href="#rtp-catalog">
                Operators
            </a>
        </li>
        <li class="">
            <a href="#rtp-catalog">
                Indetification numbers
            </a>
        </li> -->
    </ul>
    <!-- /.nav-tabs -->
</nav>
<!-- /.navbar-tabs -->