<div class="table-responsive">

    <table class="table @@table-class">
        <thead>
            <tr>
                <th class="select-all">
                    <div class="form-checkbox">
                        <input type="checkbox" name="selectalltr" id="selectalltr">
                        <label for="selectalltr" title=" Select all"></label>
                    </div>
                </th>

                @@loop('_table-thead.html', [
                    { "th-class": "column-highlight", "th-heading": "Naziv", "table-sort-filter--hidden": "@@table-sort-filter--hidden"},
                    { "th-class": "", "th-heading": "Adresa", "table-sort-filter--hidden": "@@table-sort-filter--hidden"},
                    { "th-class": "", "th-heading": "OIB", "table-sort-filter--hidden": "@@table-sort-filter--hidden"},
                    { "th-class": "", "th-heading": "Tip", "table-sort-filter--hidden": "@@table-sort-filter--hidden"},
                    { "th-class": "", "th-heading": "Podtip", "table-sort-filter--hidden": "@@table-sort-filter--hidden"},
                    { "th-class": "", "th-heading": "Porezni broj", "table-sort-filter--hidden": "@@table-sort-filter--hidden"},
                    { "th-class": "", "th-heading": "Status", "table-sort-filter--hidden": "@@table-sort-filter--hidden"}
                ])
                
                <th class="column-actions">
                    <span>Profile</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
            @@include('_table-row.html')
        </tbody>
    </table>
    
</div>
<!-- /.table-responsive -->

@@include('_table-footer.html', {
    "table-footer--hidden": "@@table-footer--hidden"
})