<th class="@@th-class">
    <div class="thead-th">
        <span>@@th-heading</span>
        <ul class="table-sort-filter">
            <li class="table-sort">
                <a href="#" title="Sort Ascending">@@include('../../images/table-icons/sortAsc.svg')</a>
                <a href="#" title="Sort Descending">@@include('../../images/table-icons/sortDesc.svg')</a>
            </li>
            <li class="table-filter dropdown">
                <a href="#" class="dropdown-toggle" data-type="table-filter">
                    <i class="icon fa fa-angle-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu--right dropdown-menu--checkbox">
                    <li>
                        <div class="form-checkbox">
                            <input type="checkbox" id="id1">
                            <label for="id1">NEOS d.o.o.</label>
                        </div>
                    </li>
                    <li class="dropdown-actions">
                        <ul class="dropdown-actions-list list-inline">
                            <li><a href="#">Select all</a></li>
                            <li><a href="#">Clear all</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</th>