<tr>
    <td class="select">
        <div class="form-checkbox">
            <input type="checkbox" id="tablecheckbox1">
            <label for="tablecheckbox1"></label>
        </div>
    </td>

    <td class=""><a href="business-units-profile.html">NEOS d.o.o.</a></td>
    <td class="">Ulica kneza Ljudevita Posavskog 31</td>
    <td class="">13456890238975</td>
    <td class="">Pravna osoba</td>
    <td class="">d.o.o.</td>
    <td class="">097-2-1</td>
    <td class=""><i class='icon fa fa-circle text-success' aria-hidden='true'></i></td>

    <td class="row-actions text-center">
        <a href="profile.html" class="btn btn-xs btn-brand-blue-400">View profile</a>
    </td>
</tr>