<div class="table-filters ">
    
    <ul class="labels">
        <li class="label">Label: <span class="label-value">Value</span><a href="#" class="label-close">&times;</a></li>
        <li class="label">Label: <span class="label-value">Value</span><a href="#" class="label-close">&times;</a></li>
        <li class="label">Label: <span class="label-value">Value</span><a href="#" class="label-close">&times;</a></li>
        <li class="label">Label: <span class="label-value">Value</span><a href="#" class="label-close">&times;</a></li>
        <li class="label">Label: <span class="label-value">Value</span><a href="#" class="label-close">&times;</a></li>
        <li class="label">Label: <span class="label-value">Value</span><a href="#" class="label-close">&times;</a></li>
        <li class="label">Label: <span class="label-value">Value</span><a href="#" class="label-close">&times;</a></li>
        <li class="label">Label: <span class="label-value">Value</span><a href="#" class="label-close">&times;</a></li>
        <li class="label">Label: <span class="label-value">Value</span><a href="#" class="label-close">&times;</a></li>
    </ul>
    <!-- /.labels -->


    <a href="#" class="table-filter-reset">
        <i class="icon fa fa-times" aria-hidden="true"></i>
    </a>

</div>
<!-- /.table-filters -->