<aside class="page-sidebar page-sidebar-contact">

    <div class="page-sidebar--heading @@page-sidebar--heading-hidden">
        <h3 class="page-sidebar--title">Stats</h3>
        <a href="#" class="page-sidebar--clearall">Hide all</a>
    </div>

    <div class="panel panel-basic">

        <header class="panel-header panel-header--sticky">
            <h4 class="section-title">Contact</h4>

            <ul class="panel-header--actions list-inline">
                <li>
                    <a href="#" class="btn btn-primary btn-text-toggle"><i class="icon fa fa-envelope"></i> <span>Send message</span></a>
                </li>
            </ul>
        </header>
        <!-- /.panel-header -->

        <div class="panel-body">

            <div class="profile-contact-map">
                <img src="assets/images/albania.png" alt="" class="img-responsive">
            </div>
            <!-- /.profile-contact-map -->

            <div class="profile-contact-info">

                <div class="form-group form-column">
                    <label for="">Contact person:</label>
                    <p class="form-group--static-value">Davorin Capan, CEO</p>
                </div>
                <!-- /.form-group -->
                <div class="form-group form-column">
                    <label for="">Phone:</label>
                    <p class="form-group--static-value">123-456-789-01234</p>
                </div>
                <!-- /.form-group -->
                <div class="form-group form-column">
                    <label for="">Email:</label>
                    <p class="form-group--static-value"><a href="#">info@neos.hr</a></p>
                </div>
                <!-- /.form-group -->

            </div>
            <!-- /.profile-contact-info -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel panel-basic -->

</aside>
<!-- /.page-sidebar -->