<ul class="page-actions list-inline">
    <li class="dropdown">
        <button class="btn btn-basic dropdown-toggle">View</button>
        <ul class="dropdown-menu">
            <li>
                <a href="#">List view</a>
            </li>
            <li>
                <a href="#">Grid view</a>
            </li>
            <li>
                <a href="#">Small list view</a>
            </li>
        </ul>
    </li>
    <li>
        <button class="btn btn-basic active" data-notification="9" id="filter-label-toggle">
            Filter <i class="icon fa fa-filter" aria-hidden="true"></i>
        </button>
    </li>
</ul>
<!-- /.page-actions -->