<aside class="page-sidebar page-sidebar--profile">

    <div class="page-sidebar--heading @@page-sidebar--heading-hidden">
        <h3 class="page-sidebar--title">Stats</h3>
        <a href="#" class="page-sidebar--clearall">Hide all</a>
    </div>

    <div class="panel panel-dark">
        <div class="panel-header">
            <h2>NEOS d.o.o.</h2>
            <ul class="list-unstyled">
                <li>Ulica kneza Ljudevita Posavskog 31</li>
                <li>10 000</li>
                <li>Zagreb</li>
            </ul>
        </div>
        <!-- /.panel-header -->
        <div class="panel-body">
            <div class="form-group form-column">
                <label for="">OIB:</label>
                <p>12345678901234</p>
            </div>
            <!-- /.form-group -->
            <div class="form-group form-column">
                <label for="">Tip:</label>
                <p>Pravna osoba</p>
            </div>
            <!-- /.form-group -->
            <div class="form-group form-column">
                <label for="">Porezni broj:</label>
                <p>123-456-789-01234</p>
            </div>
            <!-- /.form-group -->
            <div class="form-group form-column">
                <label for="">Prihodi 2019:</label>
                <img src="assets/images/prihodi.png" alt="" class="img-responsive">
            </div>
            <!-- /.form-group -->
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            <a href="profile.html" class="btn btn-success btn-lg btn-block">View full profile</a>
        </div>
        <!-- /.panel-footer -->
    </div>
    <!-- /.panel panel-basic -->

</aside>
<!-- /.page-sidebar -->