<header class="header-info--sticky">
    <h2 class="section-title">
        <span>
            <i class="fa fa-level-down" aria-hidden="true"></i>
            Application Development
        </span>
        <small>
            <!-- <i class="fa fa-fw fa-level-up" aria-hidden="true"></i> -->
            Neos d.o.o.
        </small>
        <!-- <small><i class="icon fa fa-2x fa-check-circle"></i> Active • Last changed:01.01.2011.</small> -->
    </h2>
    <!-- <h3 class="level-up-tp">
        <i class="fa fa-fw fa-level-up" aria-hidden="true"></i>
        Neos d.o.o.
    </h3> -->
    <p class="section-info">
        <span>TN: 1234567890</span>
        <span>Ljudevita Posavskog 31</span>
        <span>Zagreb</span>
        <span>Hrvatska</span>
        <span class="status-active">
            <!-- <i class="fa fa-fw fa-check-circle-o" aria-hidden="true"></i> -->
            Active
        </span>
    </p>
    <div class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu--right">
            <li>
                <a href="#">Edit profile</a>
            </li>
            <li>
                <a id="filter-modal" href="#">Add to Special Catalog</a>
            </li>
        </ul>
    </div>

    <!-- <ul class="panel-header--actions list-inline">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-primary btn-sm">Action</a>
            <ul class="dropdown-menu dropdown-menu--right">
                <li>
                    <a href="#">Edit profile</a>
                </li>
                <li>
                    <a href="#">Add to Special Catalog</a>
                </li>
            </ul>
        </li>
    </ul> -->
</header>