<aside class="page-sidebar page-sidebar-demo">

    <div class="page-sidebar--heading @@page-sidebar--heading-hidden">
        <h3 class="page-sidebar--title">Stats</h3>
        <a href="#" class="page-sidebar--clearall">Hide all</a>
    </div>
   
    <div class="panel panel-basic">
        <div class="panel-body">
            <img src="assets/images/albania.png" alt="" class="img-responsive">

            <header class="panel-header panel-header--sticky">
                <h4 class="section-title">Contact</h4>

                <ul class="panel-header--actions list-inline">
                    <li>
                        <a href="#" class="btn btn-primary"><i class="icon fa fa-envelope"></i> Send message</a>
                    </li>
                </ul>
            </header>
            <!-- /.panel-header -->

            <div class="form-group form-column">
                <label for="">Contact person:</label>
                <p class="form-group--static-value">Davorin Capan, CEO</p>
            </div>
            <!-- /.form-group -->
            <div class="form-group form-column">
                <label for="">Phone:</label>
                <p class="form-group--static-value">123-456-789-01234</p>
            </div>
            <!-- /.form-group -->
            <div class="form-group form-column">
                <label for="">Email:</label>
                <p class="form-group--static-value"><a href="#">info@neos.hr</a></p>
            </div>
            <!-- /.form-group -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel panel-basic -->

<br>


    <div class="panel panel-basic">
        
        <div class="panel-body">

            <header class="panel-header panel-header--sticky">
                <h4 class="section-title">Cash registers</h4>
    
                <ul class="panel-header--actions list-inline">
                    <li>
                        <a href="#" class="btn btn-primary"><i class="icon fa fa-download"></i> Export to .xlsx</a>
                    </li>
                </ul>
            </header>
            <!-- /.panel-header -->


            <div class="table-responsive">

                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="">
                                    <div class="thead-th">
                                        <span>Number</span>
                                    </div>
                                </th>
                                <th class="">
                                    <div class="thead-th">
                                        <span>Brand</span>
                                    </div>
                                </th>
                                <th class="">
                                    <div class="thead-th">
                                        <span>Operating System</span>
                                    </div>
                                </th>
                                <th class="">
                                    <div class="thead-th">
                                        <span>ISP</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                               <td>2291</td>
                               <td>CashReg 3000</td>
                               <td>Windows 10</td>
                               <td>T-Com Albania</td>
                           </tr>
                           <tr>
                               <td>2291</td>
                               <td>CashReg 3000</td>
                               <td>Windows 10</td>
                               <td>T-Com Albania</td>
                           </tr>
                           <tr>
                               <td>2291</td>
                               <td>CashReg 3000</td>
                               <td>Windows 10</td>
                               <td>T-Com Albania</td>
                           </tr>
                           <tr>
                               <td>2291</td>
                               <td>CashReg 3000</td>
                               <td>Windows 10</td>
                               <td>T-Com Albania</td>
                           </tr>
                           <tr>
                               <td>2291</td>
                               <td>CashReg 3000</td>
                               <td>Windows 10</td>
                               <td>T-Com Albania</td>
                           </tr>
                        </tbody>
                    </table>
                    
                </div>
                <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel panel-basic -->

</aside>
<!-- /.page-sidebar -->