<div class="grid">
    <div class="col-md-3">
        <div class="panel panel-stats">
            <div class="panel-header">

                <h5>Stats</h5>
            </div>
            <div class="panel-body">
                123456 8907 323
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-header">

                <h5>Stats</h5>
            </div>
            <div class="panel-body">
                123456 8907 323
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-header">

                <h5>Stats</h5>
            </div>
            <div class="panel-body">
                123456 8907 323
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-header">

                <h5>Stats</h5>
            </div>
            <div class="panel-body">
                123456 8907 323
            </div>
        </div>
    </div>
</div>