<aside class="page-sidebar">

    <div class="page-sidebar--heading @@page-sidebar--heading-hidden">
        <h3 class="page-sidebar--title">Stats</h3>
        <a href="#" class="page-sidebar--clearall">Hide all</a>
    </div>
   
    <div class="panel panel-basic">
        <div class="panel-body">
            <img src="assets/images/albania.png" alt="" class="img-responsive">
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel panel-basic -->

</aside>
<!-- /.page-sidebar -->