                    <header class="panel-header panel-header--sticky">
                        <h4 class="section-title">NEOS d.o.o.</h4>
                        <span>Tax number</span>
                        <span>Address</span>

                        <ul class="panel-header--actions list-inline">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle btn btn-primary btn-sm">Action</a>
                                <ul class="dropdown-menu dropdown-menu--right">
                                    <li>
                                        <a href="#">Edit profile</a>
                                    </li>
                                    <li>
                                        <a href="#">Add to Special Catalog</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </header>