			<aside class="sidebar">

				<!-- MAiN MENU -->
				<nav class="main-menu">
					<ul class="menu-items">
						<!-- <li class="menu-item active">
							<a href="rtp.html" title="Search">
								<span class="menu-item--title ">Search Tax Payer</span>
							</a>
						</li> -->
						<li class="menu-item @@classActiveProfile">
							<a href="profile.html" title="Framework">
								<span class="menu-item--title ">Tax payer profile</span>
							</a>
						</li>
						<li class="menu-item @@classActiveIncome">
							<a href="rtp-income.html" title="Components">
								<span class="menu-item--title ">Source of income/Business units</span>
							</a>
						</li>
						<li class="menu-item @@classActiveStatus">
							<a href="rtp-status.html" title="Components">
								<span class="menu-item--title ">Status</span>
							</a>
						</li>
						<li class="menu-item @@classActiveAddress">
							<a href="rtp-address.html" title="Components">
								<span class="menu-item--title ">Addresess</span>
							</a>
						</li>
						<li class="menu-item @@classActiveBussines">
							<a href="rtp-income.html" title="Components">
								<span class="menu-item--title ">Business units</span>
							</a>
						</li>
						<li class="menu-item @@classActiveBActivities">
							<a href="business-activities.html" title="Components">
								<span class="menu-item--title ">Business activities</span>
							</a>
						</li>
						<li class="menu-item ">
							<a href="#" title="Components">
								<span class="menu-item--title ">Operaters</span>
							</a>
						</li>
						<li class="menu-item @@classActiveID">
							<a href="rtp-id.html" title="Components">
								<span class="menu-item--title ">Identification numbers</span>
							</a>
						</li>

					</ul>
				</nav>
				<!-- /.main-menu -->
				<div class="logo-footer">
					<img src="/src/assets/images/neos-new-logo.svg" alt="">
				</div>
			</aside>
			<!-- /.sidebar -->