<div class="grid dashboard-apps">
    <div class="dashboard-app col-sm-12 col-lg-6 col-xl-3">
        <a href="rtp.html" class="app-card">
            <div class="app-card--icon">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" aria-labelledby="dashboardIconTitle" stroke="#2329D6" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#2329D6"> <title id="dashboardIconTitle">Dashboard</title> <rect width="20" height="20" x="2" y="2"/> <path d="M11 7L17 7M11 12L17 12M11 17L17 17"/> <line x1="7" y1="7" x2="7" y2="7"/> <line x1="7" y1="12" x2="7" y2="12"/> <line x1="7" y1="17" x2="7" y2="17"/></svg>
            </div>
            <!-- /.app--icon -->
            <div class="app-card--details">
                <h4>Registered Tax payer</h4>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint necessitatibus tenetur illo maxime?</small>
            </div>
            <!-- /.app--details -->
        </a>
    </div>
    <!-- /.col-sm-12 col-lg-6 col-xl-3 -->
    <div class="dashboard-app col-sm-12 col-lg-6 col-xl-3">
        <a href="trends-monitoring.html" class="app-card">
            <div class="app-card--icon">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" aria-labelledby="laptopIconTitle" stroke="#2329D6" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#2329D6"> <title id="laptopIconTitle">Laptop</title> <path d="M20 7v11H4V7a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1z"/> <path d="M2 18h20M4 17h16"/> </svg>
            </div>
            <!-- /.app--icon -->
            <div class="app-card--details">
                <h4>Trends monitoring</h4>
                <small>Lorem ipsum dolor sit amet consectetur.</small>
            </div>
            <!-- /.app--details -->
        </a>
    </div>
    <!-- /.col-sm-12 col-lg-6 col-xl-3 -->
    <div class="dashboard-app col-sm-12 col-lg-6 col-xl-3">
        <a href="tax-audit.html" class="app-card">
            <div class="app-card--icon">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" aria-labelledby="clipboardIconTitle" stroke="#2329D6" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#2329D6"> <title id="clipboardIconTitle">Clipboard</title> <polyline points="15 3 19 3 19 21 5 21 5 3 5 3 9 3"/> <path d="M14,4 L10,4 C9.44771525,4 9,3.55228475 9,3 C9,2.44771525 9.44771525,2 10,2 L14,2 C14.5522847,2 15,2.44771525 15,3 C15,3.55228475 14.5522847,4 14,4 Z"/> </svg>
            </div>
            <!-- /.app--icon -->
            <div class="app-card--details">
                <h4>Tax audit</h4>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint necessitatibus tenetur illo maxime?</small>
            </div>
            <!-- /.app--details -->
        </a>
    </div>
    <!-- /.col-sm-12 col-lg-6 col-xl-3 -->
    <div class="dashboard-app col-sm-12 col-lg-6 col-xl-3">
        <a href="asset-management.html" class="app-card">
            <div class="app-card--icon">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" aria-labelledby="maximiseIconTitle" stroke="#2329D6" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#2329D6"> <title id="inboxAltIconTitle">Inbox</title> <path d="M3 13H9V16H15V13H21"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M3 13L5 4H19L21 13V20H3V13Z"/> <path d="M7 7H17"/> <path d="M6.5 10H17.5"/></svg>
            </div>
            <!-- /.app--icon -->
            <div class="app-card--details">
                <h4>Asset management</h4>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint necessitatibus tenetur illo maxime?</small>
            </div>
            <!-- /.app--details -->
        </a>
    </div>
    <!-- /.col-sm-12 col-lg-6 col-xl-3 -->
</div>
<!-- /.grid dashboard-apps -->