<div class="full-height-auto ">
    <div class="grid">
        <div class="col-xl-6">
            <div class="panel panel_full">
                Some data
            </div>
        </div>
        <div class="col-xl-6">
            <div class="panel panel_full">
                Some data
            </div>
        </div>
    </div>
</div>

<div class="full-height-auto">
    <div class="grid">
        <div class="col-xl-4">
            <div class="double-panel">
                <div class="panel panel_full">
                    Some data
                </div>
            </div>
            <div class="double-panel">
                <div class="panel panel_full">
                    Some data
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="panel panel_full">
                Some data
            </div>
        </div>
    </div>
</div>

<div class="full-height-auto">
    <div class="grid">
        <div class="col-xl-12">
            <div class="panel panel_full">
                Some data
            </div>
        </div>
    </div>
</div>