$page-sidebar-width: $sidebar-width * 2;
$page-sidebar-profile-width: $sidebar-width * 1.5;
$nav-main-height: 2 * $size-20;

$font-primary: "Axiforma-Regular";
$font-bold: "Axiforma-Bold";
$font: $font-primary;