.full-height-auto {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    margin-bottom: $size-10;

    >div {
        flex: 1;
    }

    .grid {
        @include breakpoint(sm) {
            [class*="col-"] {
                &:first-child {
                    padding-right: $size-10 / 2;
                }

                &:last-child {
                    padding-left: $size-10 / 2;
                }
            }
        }
    }
}

.double-panels {
    display: flex;
    flex-direction: column;
}

.double-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    &:first-child {
        margin-bottom: $size-10;
    }
}

.dashboard-apps {
    margin-top: $size;
    margin-bottom: $size;
}

.dashboard-app {
    margin-bottom: $size / 3;

    .app-card {
        display: flex;
        padding: $size;
        height: 100%;
        align-items: center;

        &.app-card--rpo {
            // border: 3px solid $brand-blue;
            // background-color: rgba($brand-blue, .8); 
            background-color: lighten($brand-blue, 10%);

            @include hover-focus {
                background-color: $brand-blue;
                // border: 2px solid $brand-blue;
                color: $white;
            }
        }

        &.app-card--monitoring {
            // border: 3px solid$brand-purple;
            background-color: lighten($brand-purple, 10%);
            // background-color: rgba($brand-purple, .8); 
            // background-color: lighten($brand-blue, 10%);


            @include hover-focus {
                background-color: $brand-purple;
                // border: 2px solid $brand-blue;
                color: $white;
            }
        }

        &.app-card--ta {
            // border: 3px solid $brand-blue;
            background-color: lighten($brand-teal, 10%);
            // background-color: rgba($brand-teal, .8);
            // background-color: lighten($brand-blue, 10%);

            @include hover-focus {
                background-color: $brand-teal;
                // border: 2px solid $brand-blue;
                color: $white;
            }
        }

        &.app-card--am {
            // border: 3px solid $brand-purple-dark;
            background-color: lighten($brand-purple-dark, 10%);
            // background-color: rgba($brand-purple-dark, .8);
            // background-color: lighten($brand-blue, 10%);

            @include hover-focus {
                background-color: $brand-purple-dark;
                // border: 2px solid $brand-blue;
                color: $white;
            }
        }

        // border: 2px solid $brand-teal;

        @include transition(all color);
        @include border-radius($radius);

        .app-card--icon {
            margin-right: $size;
            font-size: $size * 3;
            color: $grey-100;
            // svg {

            //     path,
            //     circle,
            //     rect,
            //     line,
            //     polyline {
            //         stroke: $white;
            //     }
            // }
        }

        .app-card--details {
            h5 {
                color: $white;
            }

            small {
                @include transition(visibility);
                color: $grey-200;
            }
        }
    }
}

.panel_full {
    // padding: $size-10;
    height: 100%;
}