.navbar-tabs {
  display: flex;
  z-index: 100;
  top: 0;
  position: sticky;

  &.nav-main {
    padding-left: 0;
    height: $navbar-height;
    // background-color: lighten($brand-blue, 10%);
    // background-color: $brand-blue-400;
    background-color: $brand-blue-600;
    margin-bottom: $size-30;
    // box-shadow: $box-shadow-navbar;

    .nav-main--current-app {
      display: flex;
      flex-direction: row;
      align-items: center;
      white-space: nowrap;
      width: $sidebar-width;
      padding-left: $size + 0.625;


      .dropdown {
        display: flex;
        align-items: center;
      }

      .dropdown-tabs {
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;

        @include breakpoint(sm) {
          opacity: 1;
          flex-direction: row;
          position: static;
          min-width: auto;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .nav-main--dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: $white;
    @include transition(opacity);
    opacity: 1;
    font-size: $font-size-15;


    &:hover {
      opacity: 0.6;
    }

    i {
      font-size: $size-20;
      margin-right: $size;
      // color: $brand-blue;
    }

    // &::after {
    //   content: '\f105';
    //   font-family: $font-fa;
    //   line-height: 1;
    // }

    // svg {
    //   height: 30px;
    //   width: 30px;
    //   margin-right: $size;

    //   path,
    //   rect,
    //   polyline,
    //   circle,
    //   line {
    //     stroke: $white;
    //   }
    // }
  }

  // .nav-main--title {
  //   font-weight: normal;
  //   white-space: nowrap;
  //   color: $white;
  //   opacity: 1;
  //   @include transition(opacity);

  //   &:hover {
  //     opacity: 0.6;
  //   }

  //   &::after {
  //     @include breakpoint(sm) {
  //       content: "" !important;
  //     }
  //   }
  // }

  // Nav tabs override
  .nav-tabs {
    // opacity: 0;

    a {
      // background-color: grey(100);
      // background-color: $brand-blue;
      background-color: transparent;
      color: grey(300);
      font-size: $font-size-14;
      padding: 0 $size;
      line-height: 2 * $size-20;

      @include transition(all);

      @include hover-focus {
        // background-color: transparent;
        background-color: grey(100);
        transform: scale(1.2);
        // font-size: $size;

        color: rgba($brand-blue, 0.8);
      }
    }

    li {
      display: flex;

      &:first-child {
        margin-left: $size-30;
      }

      &:last-child {
        margin-left: auto;

        // a {
        //   background: rgba($grey-600, 0.4);
        // }
      }
    }

    .active {
      a {
        // background-color: grey(100);
        background-color: grey(100);
        font-size: $font-size-14;
        pointer-events: none;
        // background-color: lighten($brand-blue, 10%);
        // color: grey(600);
        color: rgba($brand-blue, 0.8);

        // border-bottom: 2px solid $grey-300;

        @include hover {
          cursor: default;
        }
      }
    }
  }

  .open {
    .nav-tabs {
      opacity: 1;
    }
  }
}

.navbar-child {
  height: auto;
  width: $size-30;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  background-color: transparent;

  // Menu toggle
  .menu-toggle {
    display: flex;
    flex-direction: column;
    margin-right: $size;

    .bar {
      background-color: grey(300);
    }

    @include breakpoint(sm) {
      margin-right: 0;
    }

    @include hover {
      .bar {
        background-color: $white;
      }

      .bar-middle {
        width: $size;
      }
    }
  }
}