.sidebar {
    padding-top: $size;

    @include breakpoint(sm) {
        height: calc(100vh - (#{$navbar-height} + #{$nav-main-height}));
        border-right: 1px solid grey(200);
    }

    .menu-items {
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        @include breakpoint(sm) {
            flex-direction: column;
        }

        .menu-item {
            a {
                border-bottom: 0;
            }
        }
    }

    .logo-footer {
        display: none;
    }
}