/*!
* Project name: NEOS initium
* Boilerplate template: buildr v0.62
* Author: NEOS
 * URL: https://www.neos.hr
 */

@font-face {
  font-family: "Axiforma-Regular";
  src: url("assets/fonts/Axiforma-Regular.eot");
  src: url("assets/fonts/Axiforma-Regular.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Axiforma-Regular.woff") format("woff"),
    url("assets/fonts/Axiforma-Regular.ttf") format("truetype"),
    url("assets/fonts/Axiforma-Regular.svg#svgFontName") format("svg");
}

@font-face {
  font-family: "Axiforma-Bold";
  src: url("assets/fonts/Axiforma-Bold.eot");
  src: url("assets/fonts/Axiforma-Bold.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Axiforma-Bold.woff") format("woff"),
    url("assets/fonts/Axiforma-Bold.ttf") format("truetype"),
    url("assets/fonts/Axiforma-Bold.svg#svgFontName") format("svg");
}

// Initium
@import "../../../node_modules/initium/src/assets/styles/_settings.scss";
@import "cpcm-settings.scss";


@import "../../../node_modules/initium/src/assets/styles/_framework.scss";
@import "../../../node_modules/initium/src/assets/styles/_components.scss";
@import "dashboard.scss";
@import "login.scss";
@import "navbar-tabs.scss";
@import "navbar.scss";
// @import "dashboard.scss";

.page-content {
  align-items: stretch !important;
}

.page-sidebar--profile {
  width: $page-sidebar-profile-width !important;

  h2 {
    font-family: $font-bold;
  }
}

.page-section {
  // For toggling page sidebar
  @include transition(width);
}

.alert {
  p {
    display: flex;
    align-items: center;

    .icon {
      margin-right: $size;
    }
  }
}

.test-anim {
  flex-direction: row-reverse;
  padding-top: $size;
  padding-bottom: $size;

  @include hover {
    li {
      animation: test;
    }
  }

  li {
    @include transition(opacity);
    opacity: 0;
  }

  @for $i from 1 through 2 {
    li:nth-child(#{$i}) {
      animation-duration: 300ms;
      animation-fill-mode: forwards;

      &:not(:first-child) {
        animation-delay: 50ms * $i;
      }

      &:first-child {
        opacity: 1;
      }
    }
  }
}

@keyframes test {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo {
  font-size: $font-size-11;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  min-width: 180px;
  margin-right: 2rem;

  svg {
    width: 30px;
    height: 30px;
  }

  span {
    font-size: 1.8em;
    font-family: $font-bold;
    line-height: 1;
  }

  a {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
  }
}





// Page content
.content {

  // Account for navbar height
  @include breakpoint(sm) {
    height: calc(100vh - #{$navbar-height} - #{$navbar-tabs-height});
  }

  .page-sidebar {
    margin-left: $size;
  }
}

// Table compare
.table-compare {
  display: flex;

  thead,
  tbody {
    tr {
      display: flex;
      flex-direction: column;
    }
  }

  thead {
    position: fixed;
    background-color: #fff;

    th {
      width: 100% !important;
      height: 41px;
      border-width: 1px;
    }
  }

  tbody {
    padding-left: 160px;
    display: flex;

    td {
      width: 100% !important;
    }
  }
}

.page-sidebar-demo {
  img {
    margin-bottom: $size;
  }

  .panel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $size;
  }
}